$primaryColor: #f4f4fd;
$secondaryColor: #1b1b1b;

.project-preview {
  // flex: 0 0 33.33333%;
  max-width: 340.35px;
  width: 100%;
  height: 40em;
  padding: 1em;
  .pro {
    border-radius: 0.8em;
    height: 100%;
    width: 100%;
    box-shadow: 0px 3px 6px #00000027;
  }
}
