$primaryColor: #f4f4fd;
$secondaryColor: #1b1b1b;

.project-preview {
  // flex: 0 0 33.33333%;
  max-width: 340.35px;
  width: 100%;
  max-height: 40em;
  height: 100%;
  padding: 1em;
  .pro {
    border-radius: 0.8em;
    height: 100%;
    width: 100%;
    box-shadow: 0px 3px 6px #00000027;
    img {
      height: 100%;
      width: 100%;
      border-top-right-radius: 0.8em;
      border-top-left-radius: 0.8em;
    }
    .footer-text {
      text-align: center;
      padding: 0.5em;
      h4 {
        font-size: 2em;
        font-weight: 600;
      }
      p {
        color: #1b1b1b;
        font-size: 1.6em;
      }
    }
  }
}
