$tablet: 850px;
$smartphone: 500px;
$primaryColor: #ff8715;
$secondaryColor: #272c42;
$blackColor: #0e0e0e;
$grayColor: #707070;
$whiteColor: #ffffff;
$shadow: 0px 5px 6px #00000033;

// Mixin
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}

.SpinnerOverlay {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .SpinnerContainer {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid #0e63d1;
    border-radius: 50%;
    border-top-color: #00a8ff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;

    @keyframes spin {
      to {
        -webkit-transform: rotate(360deg);
      }
    }
    @-webkit-keyframes spin {
      to {
        -webkit-transform: rotate(360deg);
      }
    }
  }
}
