$smartphone-width: 600px;
$primaryColor: #f4f4fd;
$secondaryColor: #1b1b1b;

@mixin smartphone {
  @media (max-width: #{$smartphone-width}) {
    @content;
  }
}
.contact-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  height: 20em;
  width: 100%;
  background-color: #707070;

  p {
    font-size: 2em;
    font-weight: 900;
    color: white;
    span {
      font-weight: 500;
    }
  }
  .phone {
    width: 20em;
    // margin-right: 2em;
  }
  .email {
    width: 20em;
    // margin-left: 2em;
  }
}
