$smartphone-width: 850px;
$primaryColor: #f4f4fd;
$secondaryColor: #1b1b1b;

@mixin smartphone {
  @media (max-width: #{$smartphone-width}) {
    @content;
  }
}

.header {
  position: relative;
  height: 100vh;
  background: transparent;

  .fancy {
    background: transparent;
  }

  .navbar,
  .mobo-navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 6;
    padding: 2em 0;
    transition: all 1s;
    box-shadow: 0px 3px 6px #00000027;
    @include smartphone() {
      display: none;
    }
    .nav-links {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .option {
      color: $primaryColor;
      margin: 0 1em;
      padding: 1em;
      cursor: pointer;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        font-weight: 600;
        // font-size: 1.2em;
        color: white;
      }
      img {
        height: 1.5em;
        width: 1.5em;
        margin-bottom: 0.5em;
        margin-right: 0.4em;
      }
    }
    .shop-btn {
      padding: 0.5em 1em;
      border-radius: 0.2em;
      max-width: 6.5em;
      background-image: linear-gradient(#006eff, #00a8ff, #0e63d1);
    }
  }
  .mobo-navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
    background-color: inherit;
    box-shadow: none;
    @include smartphone() {
      display: flex;
    }
    .menu {
      margin: 0 1em;
      padding: 0.5em;
      border-radius: 0.2em;
      max-width: 4em;
      background-image: linear-gradient(#006eff, #00a8ff, #0e63d1);
      cursor: pointer;
    }
    .shop-btn {
      padding: 0.5em 1em;
      border-radius: 0.2em;
      max-width: 6.5em;
      background-image: linear-gradient(#006eff, #00a8ff, #0e63d1);
      @include smartphone() {
        padding: 0.5em;
        img {
          margin: 0;
        }
        span {
          display: none;
        }
      }
    }
  }
  .white-bg {
    background-color: white;
    .option {
      color: $secondaryColor !important;
    }
  }
}
.shop-route {
  height: 15vh;
  .navbar {
    background: black;
  }
}
